<h2>The Volume man, oh god the Volume!!! <%= @volume%> cubic inch dude!</h2>

<h2>The Cost man, oh god the Cost!!! <%= @cost%> bucks man!</h2>

<h3> But that's what you get when you choose <%= @delivery_mode %> and <%= @gift_mode %> .</h3>
